:root {
  --foreground-rgb: 255, 255, 255; /* Changed to white */
  --background-start-rgb: 0, 0, 0; /* Changed to black */
  --background-end-rgb: 50, 50, 50; /* Changed to a dark gray */
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
